<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/vue.js"></script>
    <script src="/component/component.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <my-component v-bind:name="myName"></my-component>
        <!-- name in definded at component, myName is the value from usage -->
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            myName:"jesse"
        }
    })
</script>
</html>