<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/vue.js"></script>
    <title>if else for</title>
</head>

<body>
    <div id="app">
        <div v-if="showMe">
            now you see me
        </div>
        <button v-on:click="showorhide">show me or hide me</button>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            showMe: true
        },
        methods: {
            showorhide: function () {
                this.showMe = !this.showMe;
            }
        }
    });
</script>

</html>