<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/vue.js"></script>
  </head>
  <body>
    <a href="/helloworld">hello world simple</a><br>
    <a href="/iffor"> if else for循环</a><br>
    <a href="/customerinput">客户输入</a><br>
    <a href="/component">组件</a>
  </body>
</html>
